<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page" class="<%= @page.slug %>">
        <div data-pjax-container>
          <%= yield %>
        </div>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>

    <div id="dialog"> </div>

    <script>
      $(function() {
        if ( window.location.pathname == "/" ) {

        } else if ( window.location.pathname == "/galleries" ) {
          root.Galleries.init()

        } else if ( window.location.pathname == "/galleries" ) {
          root.Process.init()
        }
        root.GeorgeC.init()

        $('#page').on('pjax:success', function() {
          root.GeorgeC.init()
          root.Galleries.init()
          root.Process.init()
        });

      });
    </script>
  </body>
</html>
